<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setup 2FA</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="body-centered">

    <div class="container container-sm">
        <h1>Setup 2FA</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <p>Scan this QR code with Google Authenticator:</p>
        
        <div class="qr-container">
            <img src="data:image/png;base64, {{ qr_code }}" alt="QR Code">
        </div>
        
        <p style="margin-bottom: 5px; font-size: 14px;">Or enter this secret manually:</p>
        <div class="secret-key">{{ secret }}</div>

        <form method="POST" action="{{ url_for('mfa.mfa_enable') }}">
             <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                <input type="text" 
                       name="code" 
                       placeholder="Enter 6-digit code" 
                       required 
                       autocomplete="off"
                       maxlength="6"
                       pattern="[0-9]*" 
                       inputmode="numeric">
            </div>
            <button type="submit">Verify & Enable</button>
        </form>
    </div>

</body>
</html>