<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two-Factor Authentication</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="body-centered">

    <div class="container container-sm">
        <h1>Authentication</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <p>Please enter the code from your authenticator app.</p>

        <form method="POST">
             <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                <input type="text" 
                       name="code" 
                       placeholder="000 000" 
                       required 
                       autocomplete="off" 
                       autofocus
                       maxlength="6"
                       pattern="[0-9]*" 
                       inputmode="numeric">
            </div>
            <button type="submit">Verify</button>
        </form>

        <div class="footer-links">
            <p><a class="view-link" href="{{ url_for('auth.login') }}">Back to Login</a></p>
        </div>
    </div>

</body>
</html>