<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disable 2FA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="body-centered">
    <div class="container container-sm">
        <h1>Disable 2FA</h1>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <p>To disable Two-Factor Authentication, please confirm your password.</p>

        <form method="POST">
             <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="password" name="password" placeholder="Current Password" required autofocus>
            <button type="submit" class="btn-danger">Disable 2FA</button>
        </form>
        
        <a class="view-link" href="{{ url_for('main.dashboard') }}" class="btn-cancel">Cancel</a>
    </div>
</body>
</html>